@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(at 27% 37%, hsla(var(--primary), 0.2) 0px, transparent 50%),
      radial-gradient(at 97% 21%, hsla(var(--accent), 0.2) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(var(--primary), 0.2) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(var(--accent), 0.2) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(var(--background), 0.2) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(var(--primary), 0.2) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(var(--background), 0.2) 0px, transparent 50%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  section {
    @apply w-full;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
